<ul>
  <% results.forEach(page => { %>
    <li>
      <a class="twikilink btn btn-link" href="https://tvtropes.org/pmwiki/pmwiki.php/<%= page.namespace %>/<%= page.id %>">
        <%= page.namespace %> / <%= page.title %>
      </a>
    </li>
  <% }) %>
</ul>
<nav aria-label="Search result pages">
  <ul class='pagination'>
    <%- include('pagelink', { page: pages.first, text: "<<" }) %>
    <%- include('pagelink', { page: pages.previous, text: "<" }) %>
    <% pages.window.forEach(page => { %>
      <li class='page-item<%= page.current ? ' active' : '' %>'>
        <a
          class='page-link'
          href="<%= page.href %>"
          hx-get="<%= page.href.replace('/search', '/results') %>"
          hx-target="#results"
          hx-push-url="<%= page.href %>"
        >
          <%= page.number %>
        </a>
      </li>
    <% }) %>
    <%- include('pagelink', { page: pages.next, text: ">" }) %>
    <%- include('pagelink', { page: pages.last, text: ">>" }) %>
  </ul>
</nav>
