<%- include('layouts/header') %>
<div class='container mb-4'>
<div class='row'>
<search class='col-lg-3'>
  <div id="namespaces">
    <div class='input-group'>
      <input form="search" name="nsq" type="text" placeholder="namespace" class='form-control' id='nsq' />
      <button form="search" class="btn btn-secondary"><i class="bi bi-search"></i></button>
    </div>
  </div>
  <fieldset id='namespace-filters'>
    <%- include('search/namespaces', { namespaces }) %>
  </fieldset>
  <div id="tropes">
    <div class='input-group'>
      <input form="search" name="tsq" type="text" placeholder="trope" class='form-control' id='tsq' />
      <button form="search" class="btn btn-secondary" id="tropes-submit"><i class="bi bi-search"></i></button>
    </div>
  </div>
  <fieldset id="trope-filters">
    <%- include('search/tropes', { tropes }) %>
  </fieldset>
  <form id="search" action="/search" method="get" class='d-grid'>
    <input type="submit" class='btn btn-primary' />
  </form>
</search>
<main id='results' class='col-lg-9'>
  <%- include('search/results', { results, pages }) %>
</main>
</div>
</div>
<%- include('layouts/footer.ejs') %>
